body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cover {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.404);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 500px;
}
.img1 {
  background-image: url("../img/cover.jpg");
}

.img2 {
  background-image: url("../img/cover.webp");
}

.img3 {
  background-image: url("../img/cover2.jpg");
}
.img4 {
  background-image: url("../img/cover3.jpeg");
}

.main {
  min-height: 500px;
  margin-top: 0px;
  display: block;
  margin-inline: auto;
  background-color: white;
  padding: 1rem;
  padding-top: 50px;
}
.navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 9;
}

.navbar a {
  display: block;
  float: left;
  color: #313131;
  text-decoration: none;
  padding: 25px 18px;
  height: 100%;
}

.navbar a.icon {
  display: none;
}

.navbar a:first-child {
  margin-left: 5%;
  font-weight: 600;
}
.navbar a:hover:not(:first-child) {
  background-color: #0000000f;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a:first-child {
    margin-left: 0;
  }
  .navbar a.icon {
    display: block;
    float: right;
  }
  .cover {
    width: 100%;
    height: 300px;
  }
  .navbar.show a.homes {
    margin-top: 20px;
  }

  .navbar.show a:not(:first-child) {
    display: block;
    background-color: #6a5c42;
    width: 100%;
    color: white;
  }

  .navbar.show a.icon {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 7px;
  }
}
